* {
  /*font-size: 62.5%*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  scroll-behavior: smooth;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

/*Cores dark mode*/
.dark {
  --black: #fff;
  --black2: #444;
  --white: #333;
  --white2: #444;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 30rem;
  height: 100%;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}

.dark .navigation {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.5);
}

.navigation.active {
  width: 0;
}
.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 1rem 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  letter-spacing: 0.2rem;
  opacity: 0.5;
}

.navigation ul li a:hover {
  opacity: 1;
}

.main {
  position: absolute;
  left: 30rem;
  width: calc(100% - 30rem);
  min-height: 100vh;
  background: var(--white);
  transition: width 0.5s, left 0.5s;
}

.main.active {
  width: calc(100% - 0rem);
  left: 0rem;
}

.main .topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 30rem);
  left: 30rem;
  background: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 6rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: width 0.5s, left 0.5s;
}

.dark .main .topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.main .topbar.active {
  width: calc(100% - 0rem);
  left: 0rem;
}

.main .topbar .logo {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  font-size: 2.24rem;
  letter-spacing: 0.1rem;
}

.main .topbar .toggle {
  position: relative;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: var(--black);
}

section {
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .content .imgBx {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.banner .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  position: relative;
  font-size: 1.4rem;
  color: var(--black);
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

p {
  color: #777;
}
.dark p {
  color: var(--black);
}
a.btn {
  position: relative;
  display: inline-block;
  background: var(--black2);
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.063em;
  margin-top: 1rem;
  text-decoration: none;
  padding-left: 1.87rem;
  padding-right: 1.87rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

/*após terminar o projeto adicionar o arquivo CV no projeto 26:57 a 29:15*/
.dark .btn:hover {
  background: #2196f3;
}

.socialMedia {
  position: absolute;
  bottom: 2rem;
  display: flex;
}

.socialMedia li {
  list-style: none;
}

.socialMedia li a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.05);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
}

.dark .socialMedia li a:hover {
  background: #2196f3;
}

.socialMedia li a:hover {
  background: var(--black);
  color: var(--white);
}

.adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 4rem;
  padding-top: 8rem;
  background: var(--white);
  color: var(--black);
  display: inline-block;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

/*linha após o titulo*/

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 5rem;
  height: 0.1rem;
  background: var(--black);
}

.about .content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.about .content .textBox {
  width: 49%;
  min-width: 49%;
}

.about .content .imgBx {
  margin-left: 4rem;
}

.about .content .imgBx img {
  max-width: 100%;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0px;
}

.services .content .serviceBox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 3.125rem 1.25rem;
  display: flex;
  background: var(--white2);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark .services .content .serviceBox:hover {
  background: #2196f3;
}

.services .content .serviceBox img {
  max-width: 3.125rem;
}

.dark .services .content .serviceBox img {
  filter: invert(1);
}

.services .content .serviceBox h2 {
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--black);
  text-align: center;
}

.services .content .serviceBox p {
  text-align: center;
}

/* Project */
.projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0;
}

.projects .content .workBx {
  position: relative;
  width: 100%;
  height: 18.75rem;
  overflow: hidden;
}

.projects .content .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.projects .content .workBx:hover .imgBx {
  transform: translateY(-100%);
}

.projects .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .projects .content .workBx .textBx{
  background: #444;
}

.projects .content .workBx:hover .textBx {
  transform: translateY(0);
}

.projects .content .workBx .textBx h3 {
  color: var(--white);
  font-size: 1rem;
}

.dark .projects .content .workBx .textBx h3{
  color: var(--black);
}

/* Testeunhas */

.testimonials .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0;
}
.testimonials .content .testimonialBx {
  background: var(--white2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
}

.dark .testimonials .content .testimonialBx:hover{
  background:#2196f3
}
.testimonials .content .testimonialBx .imgBx {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.625rem;
}
.testimonials .content .testimonialBx .imgBx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .testimonialBx p {
  font-style: italic;
}
.testimonials .content .testimonialBx h4 {
  text-align: right;
  margin-top: 1.25rem;
  letter-spacing: 0.125rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  border-right: 4px solid var(--black);
  padding-right: 0.625rem;
  text-transform: uppercase;
}
.testimonials .content .testimonialBx h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 0.063rem;
  font-weight: 300;
  font-size: 0.7rem;
}
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.contact .contactForm {
  position: relative;
  width: 43.75rem;
  margin-top: 5rem;
}
.contact .contactForm .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.25rem;
  grid-gap: 2rem;
}
.contact .contactForm .row input,
.contact .contactForm .row2 textarea {
  width: 100%;
  padding: 0.625rem;
  outline: none;
  color: var(--black);
  background: var(--white2);
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact .contactForm .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  width: 100%;
}

.contact .contactForm .row2 textarea {
  resize: none;
  height: 12.5rem;
}

.contact .contactForm .row2 input[type="submit"] {
  background: var(--black2);
  color: #fff;
  padding-left: 1.87rem;
  padding-right: 1.87rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  max-width: 9.375rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.contact .contactForm .row2 input[type="submit"]:hover{
  background: #2196f3;
}

.copyright {
  position: relative;
  bottom: 0;
  padding: 0.625rem 2.5rem;
  text-align: center;
}

.dark .copyright{
  color: var(--black);
}

/* Dark e light mode switch */
.themeSwitch {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  width: 1.875rem;
  height: 1.875rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.themeSwitch::before {
  content: "\f186";
  font-family: fontAwesome;
}

.dark .themeSwitch::before {
  content: "\f185";
  font-family: fontAwesome;
}

.themeSwitch::after {
  content: "Trocar para modo Dark";
  position: absolute;
  left: 40px;
  font-size: 0.7rem;
  color: var(--black);
  white-space: nowrap;
  letter-spacing: 0.0625rem;
  pointer-events: none;
}

.dark .themeSwitch::after {
  content: "Trocar para modo Light";
}

/* Responsive */
@media (max-width: 992px) {
  .themeSwitch{
    left: 1.25rem;
  }
  .navigation {
    left: -100%;
  }

  .navigation.active {
    left: 0;
    width: 100%;
  }

  .navigation ul {
    padding: 1.25rem, 1.25rem;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 100%;
  }

  .main .topbar {
    width: 100%;
    left: 0;
    padding: 0 1.25rem;
  }

  .banner .imgBx {
    width: 15.625rem;
    height: 15.625rem;
  }

  .banner h3,
  .banner p {
    text-align: center;
  }

  .adjust {
    padding: 0 1.25rem;
    padding-top: 5rem;
  }

  .about .content {
    flex-direction: column;
    align-items: center;
  }

  .about .content .textBox {
    width: 100%;
    min-width: 100%;
  }

  .about .content .imgBx {
    margin-top: 1.25rem;
  }

  .services .content,
  .projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .services .content,
  .projects .content,
  .testimonials .content,
  .contact .contactForm .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    margin-bottom: 2.5rem;
  }

  .contact .contactForm {
    width: 100%;
  }

  .copyright {
    padding: 0.625rem 1.25rem;
  }
}
